# --- Backend Settings ---
# 백엔드 가상환경 (팀원별로 각자 생성 필요)
whatsurf/

# 파이썬 실행 시 생성되는 캐시 파일
__pycache__/
*.pyc

# API 키(네이버, Supabase) 등 보안 파일
.env

# VS Code 설정 폴더
.vscode/
# ------------------------


# --- frontend Settings ---
# 중간에 작성하면 됨
# ------------------------


# --- AI Settings ---
# 중간에 작성하면 됨
# ------------------------